<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\User-9100\Documents\C#\TournamentTracker\TextFiles"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=ADRIAN\SQLEXPRESS;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>